{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.titre) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.meta) }}
    {{ form_row(form.url) }}
    {# <a href="{{ path('app_page_new') }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-lg">Save</a> #}
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-lg">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
