<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/assets/favicon.png">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        <script src="https://cdn.tiny.cloud/1/e91ymherrhnkp86ce6t7diomidhb8shg88k1qctyvr4zg4a6/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="https://kit.fontawesome.com/7762946393.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block nav %}
                <nav class="flex items-center justify-between flex-wrap first-bg-color">
                    <div class="flex items-center flex-shrink-0 text-white mr-6">
                        <img src="/assets/LogoCMS.png" alt="logo" width="100px">
                        {# <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg> #}
                        <span class="font-semibold text-xl tracking-tight">CMS</span>
                    </div>
                    <div class="block lg:hidden">
                        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                        </button>
                    </div>
                    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                        <div class="text-sm lg:flex-grow">
                        <a href="{{ path('app_default')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Accueil
                        </a>
                        <a href="{{ path('app_page_index')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Pages
                        </a>
                        <a href="{{ path('app_article_index')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Blog
                        </a>
                        {# <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Article
                        </a>
                        <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Galerie
                        </a> #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_logout')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Logout
                        </a>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('admin_dashboard')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                                    admin
                                </a>
                            {% endif %}
                        <p class="block mt-4 lg:inline-block lg:mt-0 text-base mr-4">
                            Utilisateur connecté : {{ app.user }}
                        </p>
                        {% else %}
                        <a href="{{ path('app_login')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Login
                        </a>
                        <a href="{{ path('app_register')}}" class="block mt-4 lg:inline-block lg:mt-0 text-base hover:text-white mr-4">
                            Register
                        </a>
                        {% endif %}
                        </div>
                    </div>
                </nav>
            {% endblock %}
            {% block header %}
            {% endblock %}
        </header>
        <main class="m-2">
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
