{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block main %}
    <h1 class="mb-4">Blog :</h1>
    {% if is_granted("ROLE_ADMIN") or  is_granted("ROLE_REDACTEUR") %}
        <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow-lg" href="{{ path('app_article_new') }}">Ajouter un article</a>
    {% endif %}
    <div class=" grid grid-cols-3 gap-1">
        {% for article in articles %}
            <div class="mt-2">
                <div class="max-w-lg rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ article.titre }}</div>
                        <div class="text-gray-700 text-base">
                            {{ article.description|raw }}
                        </div>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                            <span>Écrit par : {{ article.user }} </span>
                            <span> Publié le : {{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }} </span>
                        </div>
                        <div class="mt-2 mb-2">
                            {# <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Ajouter un commentaire</a> #}
                            <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_article_show', {'id': article.id}) }}">Voir l'article</a>
                        </div>
                    </div>
                </div>
            </div>
            {# <div>
                {% for com in article.commentaires %}
                <div class="max-w-lg rounded overflow-hidden shadow-lg">
                    <div class="px-6 py-4">
                        <p>{{ com.user }} {{ com.dateCreation ? com.dateCreation|date('Y-m-d H:i:s') : '' }}</p>
                        <div class="text-gray-700 text-base">
                            {{ com.contenu|raw }}
                        </div>
                    </div>
                    <div class="px-6 pb-2">
                        <div class="mt-2 mb-2">
                            <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Repondre</a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>pas de commentaire pour cet article</p>
                {% endfor %}
            </div> #}
        {% else %}
            <p colspan="5">no records found</p>
        {% endfor %}
    </div>
{% endblock %}
