{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block main %}
    <div class=" rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ article.titre }}</div>
            <div class="text-gray-700 text-base">
                {{ article.description|raw }}
            </div>
        </div>
        <div class="px-6 pt-4 pb-2">
            <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                <span>Écrit par : {{ article.user }} </span>
                <span> Publié le : {{ article.dateCreation ? article.dateCreation|date('Y-m-d H:i:s') : '' }} </span>
            </div>
            <div class="mt-2 mb-2">
                {# <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Ajouter un commentaire</a> #}
                <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Ajouter un commentaire</a>
            </div>
        </div>
    </div>
    <h3 class="text-xl">Commentaire :</h3>
    <div>
        {% if is_granted("ROLE_ADMIN") %}
            {% for com in article.commentaires %}
                <div class="rounded overflow-hidden">
                    <div class="px-6 py-4">
                        <div class="flex items-center">
                            <img src="{{ asset('image/avatar.png') }}" alt="logo" width="50px">
                            <p>{{ com.user }} {{ com.dateCreation ? com.dateCreation|date('Y-m-d H:i:s') : '' }}</p>
                            <p class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 ml-2">{{ com.user.roles[0] }}<p>
                        </div>
                        <div class="text-gray-700 text-base ml-12.5">
                            <p>{{ com.contenu|raw }}<p>
                            <div class="flex mt-2">
                                <i class="fa-solid fa-thumbs-up pr-4"></i>
                                <i class="fa-solid fa-thumbs-down"></i>
                            </div>
                        </div>
                    </div>
                    {% if com.statut == false %}
                    <div class="px-6">
                        <p>Ce commentaire n'a pas encore était validé.</p>
                        {# <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Repondre</a> #}
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <p>pas de commentaire pour cet article</p>
            {% endfor %}
        {% else %}
            {% for com in coms %}
                <div class="rounded overflow-hidden">
                    <div class="px-6 py-4">
                        <div class="flex items-center">
                            <img src="{{ asset('image/avatar.png') }}" alt="logo" width="50px">
                            <p>{{ com.user }} {{ com.dateCreation ? com.dateCreation|date('Y-m-d H:i:s') : '' }}</p>
                            <p class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 ml-2">{{ com.user.roles[0] }}<p>
                        </div>
                        <div class="text-gray-700 text-base">
                            {{ com.contenu|raw }}
                        </div>
                        <div class="flex mt-2">
                            <i class="fa-solid fa-thumbs-up pr-4"></i>
                            <i class="fa-solid fa-thumbs-down"></i>
                        </div>
                    </div>
                    {% if com.statut == false %}
                    <div class="px-6">
                        <p>Votre commentaire a été désactivé. Vous êtes seul à le voir</p>
                        {# <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_commentaire_new', {'id': article.id}) }}">Repondre</a> #}
                    </div>
                    {% endif %}
                </div>
            {% else %}
                <p>pas de commentaire pour cet article</p>
            {% endfor %}
        {% endif %}
    </div>

    <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{{ path('app_article_index') }}">Retour</a>

    {# {{ include('article/_delete_form.html.twig') }} #}
{% endblock %}
